body {
    font-family: Calibri, "Apple Lisong", Ubuntu, sans-serif;
}
body, h1, h2, h3, ul, ol, p {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #333;
}

h1 {
    font-size: 20pt;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size: 14pt;
}
h4 {
    font-size: 12pt;
}

h1 {
    background-color: #88e;
    padding: 10px;
    margin-bottom: 8px;
}
div.now {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8pt;
}

ul {
    padding-left: 0px;
    margin: 0px 8px;
}
li {
    border-top: solid 4px #88e;
    list-style-type: none;
    margin-bottom: 8px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
li a {
    text-decoration: none;
    color: black;
}
li h2 {
    padding: 8px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #dbb));
}
li p {
    padding: 8px;
    color: #666;
    font-style: italic;
}


