body {
    font-family: Calibri, "Apple Lisong", Ubuntu, sans-serif;
}
body, h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #fff;
}

h1 {
    font-size: 20pt;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size: 14pt;
}
h4 {
    font-size: 12pt;
}

h1 {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 8px;
}
div.now {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8pt;
}

ul {
    padding-left: 0px;
    margin: 0px 8px;
}
li {
    list-style-type: none;
    margin-bottom: 8px;
}
li a {
    text-decoration: none;
    color: black;
}
li h2 {
    padding: 4px 0px 4px 8px;
    margin: 12px 0px 4px 0px;
    border-left: solid 8px #00a0b0;
}
li p {
    margin-left: 16px;
    margin-right: 8px;
    color: #666;
    font-style: italic;
}


